{% extends 'base.html' %}
{% load static %}

{% block title %}
Каталог
{% endblock %}

{% block content %}
    <h2 style="margin-left:150px">Каталог</h2>
   <p style="margin-left:150px">Категория: Одежда</p>
<section class="menu">
    <h1 style="font-size:20px;  text-align:center">Категории</h1>
    <ul class="menu_list list">
        <li class="menu_item item">
        <a href="{% url 'catalog' %}" class="menu_link link">
            <span>Транспорт</span>
        </a>
        </li>
         <li class="menu_item item">
        <a href="{% url 'catalog2' %}" class="menu_link link">
            <span>Одежда</span>
        </a>
        </li>
         <li class="menu_item item">
        <a href="{% url 'catalog3' %}" class="menu_link link">
            <span>Техника</span>
        </a>
        </li>
    </ul>
</section>

<div align="center">
    <div class="body1" style="float:left">
        <div class="card">
            <div class="card_top">
                <a href="#!" class="card_img">
                    <img src="{% static "deps/images/costume.jpg" %}" style="max-width: 223px;></a>
            </div>
            <div class="card_bottom">
                <div class="card_prices">2000 руб./сутки</div>
                <a href="#!" class="card-title">Мужской костюм</a><br><br>
                <button class="card_btn">Взять в аренду</button>
            </div>
        </div>
    </div>

    <div class="body1" style="float:left">
        <div class="card">
            <div class="card_top">
                <a href="#!" class="card_img">
                    <img src="{% static "deps/images/costume.jpg" %}" style="max-width: 223px;></a>
            </div>
            <div class="card_bottom">
                <div class="card_prices">2000 руб./сутки</div>
                <a href="#!" class="card-title">Мужской костюм</a><br><br>
                <button class="card_btn">Взять в аренду</button>
            </div>
        </div>
    </div>

    <div class="body1" style="float:left">
        <div class="card">
            <div class="card_top">
                <a href="#!" class="card_img">
                    <img src="{% static "deps/images/costume.jpg" %}" style="max-width: 223px;></a>
            </div>
            <div class="card_bottom">
                <div class="card_prices">2000 руб./сутки</div>
                <a href="#!" class="card-title">Мужской костюм</a><br><br>
                <button class="card_btn">Взять в аренду</button>
            </div>
        </div>
    </div>
</div>

<div align="center">
    <div class="body1" style="float:left">
        <div class="card">
            <div class="card_top">
                <a href="#!" class="card_img">
                    <img src="{% static "deps/images/costume.jpg" %}" style="max-width: 223px;></a>
            </div>
            <div class="card_bottom">
                <div class="card_prices">2000 руб./сутки</div>
                <a href="#!" class="card-title">Мужской костюм</a><br><br>
                <button class="card_btn">Взять в аренду</button>
            </div>
        </div>
    </div>

    <div class="body1" style="float:left">
        <div class="card">
            <div class="card_top">
                <a href="#!" class="card_img">
                    <img src="{% static "deps/images/costume.jpg" %}" style="max-width: 223px;></a>
            </div>
            <div class="card_bottom">
                <div class="card_prices">2000 руб./сутки</div>
                <a href="#!" class="card-title">Мужской костюм</a><br><br>
                <button class="card_btn">Взять в аренду</button>
            </div>
        </div>
    </div>

    <div class="body1" style="float:left">
        <div class="card">
            <div class="card_top">
                <a href="#!" class="card_img">
                    <img src="{% static "deps/images/costume.jpg" %}" style="max-width: 223px;></a>
            </div>
            <div class="card_bottom">
                <div class="card_prices">2000 руб./сутки</div>
                <a href="#!" class="card-title">Мужской костюм</a><br><br>
                <button class="card_btn">Взять в аренду</button>
            </div>
        </div>
    </div>
</div>

    <style>
    .body1{
    margin-left:150px;
    margin-top:50px;

    }
        .card{
        width:225px;
        min-height:280px;
        box-shadow: 1px 2px 4px black;
        display:flex;
        flex-direction:column;
        border-radius:4px;
        position:relative;
        transition:0.2s;

        }
        .card-bottom{
        flex: 1 0 auto;
        }
        .card_top{
        flex: 0 0 220px;
        }
        .card_bottom{
        flex: 1 0 auto:
        }
        .card_img{
        width:100%;
        height:100%
        object-fit:contain;
        transition:0.2s;
        }
        .card_img:hover{
        transform:scale(1.1);
        }
       body{
        width:100%;
        min-height:100vh;
       }
       .menu{
       display:flex;
       flex-direction:column;
       width:240px;
       min-height:100vh;
       position:fixed;
       top:0;
       left:0;

       margin-top: 100px;
       }
    </style>








{% endblock %}

